<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %></title>
  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }

      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>

<body class="app" authenticate-required="true">
  <!-- @TOC -->
  <!-- =================================================== -->
  <!--
      + @Page Loader
      + @App Content
          - #Left Sidebar
              > $Sidebar Header
              > $Sidebar Menu

          - #Main
              > $Topbar
              > $App Screen Content
    -->

  <!-- @Page Loader -->
  <!-- =================================================== -->
  <div id='loader'>
    <div class="spinner"></div>
  </div>

  <script>
    window.addEventListener('load', function load() {
      const loader = document.getElementById('loader');
      setTimeout(function () {
        loader.classList.add('fadeOut');
      }, 300);
    });
  </script>

  <!-- @App Content -->
  <!-- =================================================== -->
  <div>
    <!-- #Left Sidebar ==================== -->
    <div class="sidebar">
      <div class="sidebar-inner">
        <!-- ### $Sidebar Header ### -->
        <div class="sidebar-logo">
          <div class="peers ai-c fxw-nw">
            <div class="peer peer-greed">
              <a class="sidebar-link td-n" href="index.html">
                <div class="peers ai-c fxw-nw">
                  <div class="peer">
                    <div class="logo">
                      <img src="assets/static/images/logo.png" alt="">
                    </div>
                  </div>
                  <div class="peer peer-greed">
                    <h5 class="lh-1 mB-0 logo-text">Adminator</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="peer">
              <div class="mobile-toggle sidebar-toggle">
                <a href="" class="td-n">
                  <i class="ti-arrow-circle-left"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- ### $Sidebar Menu ### -->
        <ul class="sidebar-menu scrollable pos-r">
          <li class="nav-item  mT-30">
            <a class="sidebar-link" href="index.html">
              <span class="icon-holder">
                <i class="c-blue-500 ti-home"></i>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="c-orange-500 ti-folder"></i>
              </span>
              <span class="title">Settings</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class='sidebar-link ' href="settings-properties.html">Properties</a>
              </li>
              <li>
                <a class='sidebar-link' href="settings-locale.html">Locale</a>
              </li>
              <li>
                <a class='sidebar-link' href="settings-datasource.html">DataSource</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="c-deep-orange-500 ti-folder"></i>
              </span>
              <span class="title">Security</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class='sidebar-link' href="security-perms.html">Roles & Permissions</a>
              </li>
              <li>
                <a class='sidebar-link' href="security-users.html">Users</a>
              </li>
              <li>
                <a class='sidebar-link' href="security-audit.html">Audit</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="c-green-500 ti-folder"></i>
              </span>
              <span class="title">Services</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class='sidebar-link' href="services-email.html">Email</a>
              </li>
              <li>
                <a class='sidebar-link' href="services-sequencer.html">Sequencer</a>
              </li>
              <li>
                <a class='sidebar-link' href="services-viewcount.html">View Count</a>
              </li>
              <li>
                <a class='sidebar-link' href="services-menu.html">Menu</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown open">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="c-purple-500 ti-folder"></i>
              </span>
              <span class="title">Resources</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class='sidebar-link actived' href="resources-pages.html">Pages</a>
              </li>
              <li>
                <a class='sidebar-link' href="resources-apis.html">Apis</a>
              </li>

              <li class="nav-item dropdown">
                <a href="javascript:void(0);">
                  <span>Sources</span>
                  <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="resources-decorators.html">Decorators</a>
                  </li>
                  <li>
                    <a href="resources-templates.html">Templates</a>
                  </li>
                  <li>
                    <a href="resources-groovys.html">Gloovy</a>
                  </li>
                  <li>
                    <a href="resources-sqls.html">Sql</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class='sidebar-link' href="resources-files.html">Files</a>
              </li>
              <li>
                <a class='sidebar-link ' href="resources-images.html">Images</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- #Main ============================ -->
    <div class="page-container">
      <!-- ### $Topbar ### -->
      <%= require('html-loader!./include-topbar.html') %>
      <script>
        function setup() {
          $(document).ajaxSend(function (event, jqXHR, options) {
            jqXHR.setRequestHeader('Authorization', studio.services.accounts.authHeader()['Authorization']);
          });
          var $window = $(window).on('resize', function () {
            var height = $(document).height() - ($('.header-container').height() + 61)
            $('#grid').height(height);
          }).trigger('resize'); //on page load     
          const headers = {
            Accept: "application/json",
            "Content-Type": "application/json"
          };
          Object.assign(headers, studio.services.accounts.authHeader());
          var renderTo = $("#mainContent");
          var observable = kendo.observable({
            edit: function () {
              getPageEditorWindow();
            }
          });
          createPageGrid(observable);
          kendo.bind(renderTo, observable);
        }

        function createPageGrid(observable) {
          var renderTo = $('#grid');
          if (!renderTo.data('kendoGrid')) {
            var grid = renderTo.kendoGrid({
              dataSource: {
                transport: {
                  read: { url: studio.services.getApiUrl('/data/secure/mgmt/pages/list.json'), type: 'post', contentType: "application/json; charset=utf-8" },
                  parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                      return JSON.stringify(options.models);
                    }
                    return JSON.stringify(options);
                  }
                },
                pageSize: 50,
                serverPaging: true,
                error: studio.ui.handleAjaxError,
                batch: true,
                schema: {
                  data: "items",
                  total: "totalCount",
                  model: studio.data.model.Page
                }
              },
              toolbar: [{ name: "create", text: "새로운 페이지 만들기", template: kendo.template($('#grid-toolbar-template').html()) }],
              sortable: true,
              filterable: false,
              pageable: {
                refresh: true,
                pageSizes: [50, 100, 200, 300]
              },
              columns: [
                { field: "PAGE_ID", title: "ID", filterable: true, sortable: true, width: 100, template: '#= pageId #', attributes: { class: "text-center" } },
                { field: "NAME", title: "Name", filterable: true, sortable: true, template: $('#name-column-template').html() },
                { field: "PAGE_STATE", title: "Status", filterable: false, sortable: true, template: '#: pageState #', attributes: { class: "text-center" }, width: 120 },
                { field: "VERSION_ID", title: "Version", filterable: false, sortable: false, width: 80, template: '#= versionId#', attributes: { class: "text-center" } },
                { field: "USER_ID", title: "Creator", filterable: false, sortable: true, width: 150, template: $('#user-column-template').html(), attributes: { class: "text-center" } },
                { field: "CREATION_DATE", title: "Created", filterable: false, sortable: true, width: 100, template: '#: studio.ui.format.date( creationDate ,"yyyy.MM.dd")#', attributes: { class: "text-center" } },
                { field: "MODIFIED_DATE", title: "Modified", filterable: false, sortable: true, width: 100, template: '#: studio.ui.format.date( modifiedDate ,"yyyy.MM.dd")#', attributes: { class: "text-center" } }
              ]
            }).data('kendoGrid');
            renderTo.on("click", "a[data-action=edit]", function (e) {
              var $this = $(this);
              if (studio.ui.defined($this.data("object-id"))) {
                var objectId = $this.data("object-id");
                var dataItem = grid.dataSource.get(objectId);
                getPageEditorWindow(dataItem);
              }
            });
          }
        }
        function getPageEditorWindow(item) {
          var renderTo = $('#page-window');
          if (!renderTo.data("kendoWindow")) {
            const PageModel = kendo.data.Model.define(studio.data.model.Page);
            var observable = kendo.observable({
              page: new PageModel(),
              editable: false,
              setSource: function (data) {
                var $this = this;
                data = data || new PageModel();
                data.copy($this.page);
                $this.set('editable', $this.page.pageId > 0 ? true : false);
              },
              objectTypeDataSource: kendo.data.DataSource.create({
                transport: {
                  read: { url: studio.services.getApiUrl('/data/secure/mgmt/services/sequencers/list.json'), type: 'post', contentType: "application/json; charset=utf-8" },
                  parameterMap: function (options, operation) {
                    return JSON.stringify(options);
                  }
                },
                schema: {
                  total: "totalCount",
                  data: "items",
                  model: {
                    id: "sequencerId",
                    fields: {
                      sequencerId: { type: "number", defaultValue: 0 },
                      name: { type: "string" },
                      displayName: { type: "string" },
                      value: { type: "number", defaultValue: 0 }
                    }
                  }
                }
              }),
            });
            kendo.bind(renderTo, observable);
            renderTo.data('model', observable);
            var window = renderTo.kendoWindow({
              animation: false,
              width: "900px",
              title: "Page",
              visible: false,
              scrollable: true,
              modal: true,
              actions: ["Close"], // 
              open: function () {
                this.title(observable.page.name);
              },
              close: function () {
              }
            }).data('kendoWindow');
          }
          renderTo.data('model').setSource(item);
          renderTo.data("kendoWindow").center().open();
        }
      </script>
      <!-- ### $App Screen Content ### -->
      <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
          <div class="full-container">
            <div id="grid" style="border:0;"></div>
          </div>
        </div>
      </main>
      <div id="page-window" class="g-height-600 container-fluid" style="display:none;">
        <div class="form-row g-mb-25">
          <div class="form-group col-md-6">
            <label class="g-mb-10 g-font-weight-400" for="input-page-name">Name <span
                class="text-danger">*</span></label>
            <div class="g-pos-rel">
              <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
              </span>
              <input id="input-page-name" name="input-page-name"
                class="form-control form-control-md g-rounded-4 g-px-14 g-py-10" type="text" placeholder="파일명을 입력하세요"
                data-bind="value: page.name, enabled:editable" required validationMessage="이름을 입력하여 주세요." autofocus>
              <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">
                이 페이지를 호출할때 사용되는 이름입니다. ex) /display/pages/<span data-bind="text: page.name"></span>
              </small>
            </div>
            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="input-page-name" role="alert"
              style="display:none;"></span>
          </div>
          <div class="form-group col-md-6">
            <label class="g-mb-10 g-font-weight-400" for="input-page-title">Title<span
                class="text-danger">*</span></label>
            <div class="g-pos-rel">
              <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
              </span>
              <input id="input-page-title" name="input-page-title"
                class="form-control form-control-md g-rounded-4 g-px-14 g-py-10" type="text" placeholder="파일명을 입력하세요"
                placeholder="페이지 타이틀을 입력하세요." data-bind="value: page.title, enabled:editable" required
                validationMessage="페이지 타이틀을 입력하여 주세요.">
              <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">The title used as the title of
                the page.</small>
            </div>
            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="input-page-title" role="alert"
              style="display:none;"></span>
          </div>
        </div>
        <div class="form-row g-mb-25">
          <div class="form-group col-md-6">
            <label class="g-mb-10 g-font-weight-400" for="input-page-name">Pattern</label>
            <div class="g-pos-rel">
              <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
              </span>
              <input id="input-page-name" class="form-control form-control-md g-rounded-4 g-px-14 g-py-10" type="text"
                placeholder="패턴을 입력하세요" data-bind="value: page.pattern, enabled:editable">
              <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">
                Call the page based on the pattern. ex) /display/pages<span data-bind="text: page.pattern"></span>
              </small>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="g-mb-10 g-font-weight-400" for="input-page-description">Description</label>
            <textarea id="input-page-description" class="form-control form-control-md g-resize-none g-rounded-4"
              rows="3" placeholder="간략하게 페이지에 대한 설명을 입력하세요."
              data-bind="value:page.description, enabled:editable"></textarea>
          </div>
        </div>
        <hr/>
        <div class="form-row">
          <div class="col-md-4">
            <label class="g-mb-10 g-font-weight-400">OBEJCT TYPE</label>
            <div class="form-group g-pos-rel g-rounded-4 mb-0">
              <input data-role="dropdownlist" data-option-label="서비스를 소유하는 객체 유형을 선택하세요." data-auto-bind="true"
                data-value-primitive="true" data-text-field="name" data-value-field="sequencerId"
                data-bind="value: page.objectType, enabled:editable, source: objectTypeDataSource"
                style="width: 100%;" />
            </div>
          </div>
          <div class="col-md-4">
            <label class="g-mb-10 g-font-weight-400">OBEJCT ID</label>
            <div class="form-group g-pos-rel g-rounded-4 mb-0">
              <input data-role="numerictextbox" placeholder="OBJECT ID" class="form-control form-control-md"
                type="number" data-min="-1" step="1" data-format="##" data-bind="value:page.objectId, enabled:editable"
                style="width: 100%" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="g-mb-10 g-font-weight-400">State</label>
              <div class="g-pos-rel">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                  <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                </span>
                <select class="form-control g-pos-rel" data-role="dropdownlist"
                  data-bind="value:page.pageState,enabled:editable" style="width: 100%" class="form-control">
                  <option value="INCOMPLETE">INCOMPLETE</option>
                  <option value="APPROVAL">APPROVAL</option>
                  <option value="PUBLISHED">PUBLISHED</option>
                  <option value="REJECTED">REJECTED</option>
                  <option value="ARCHIVED">ARCHIVED</option>
                  <option value="DELETED">DELETED</option>
                  <option value="NONE">NONE</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-row g-mb-25">
          <div class="form-group col-md-4">
            <label class="g-font-weight-400 g-mb-10">Version<span class="text-danger">*</span></label>
            <div class="g-pos-rel">
              <input class="form-control form-control-md" data-role="numerictextbox" type="number" data-format="###"
                data-min="0" step="1" data-max="100" placeholder="버전 정보를 입력하세요"
                data-bind="value: page.versionId,enabled:editable" style="width: 100%">
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="g-mb-10 g-font-weight-400">Content Type</label>
            <div class="g-pos-rel">
              <input data-role="dropdownlist" data-option-label="콘텐츠 유형을 선택하세요." data-auto-bind="true"
                data-value-primitive="true" data-text-field="text" data-value-field="value"
                data-bind="value: page.contentType, enabled:editable, source: contentTypes" style="width: 100%;" />
            </div>
          </div>
          <div class="col-md-4">
            <label class="d-flex align-items-center justify-content-between g-mb-15">
              <span class="g-pr-20 g-font-weight-400">인증필요</span>
              <div class="u-check">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="api-secured" value="true"
                  data-bind="checked: source.secured,  enabled:editable" type="checkbox">
                <div class="u-check-icon-radio-v8">
                  <i class="fa" data-check-icon=""></i>
                </div>
              </div>
            </label>
            <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5 g-hidden-md-down">
              ON 상태인 경우 접근권한이 허용된 사용자만 이용할 수 있습니다.
            </small>
          </div>
        </div>
        <div class="form-row"> 
          <div class="form-group col-md-6">
            <label class="g-mb-10 g-font-weight-400" for="input-page-template">Template (or redirect/forward command)
              <span class="text-danger">*</span></label>
            <div class="g-pos-rel">
              <a class="d-flex align-items-center u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-ml-10 g-ml-15--sm g-ml-30--xl"
                href="#!" data-bind="click:select, visible:editable" data-type="template">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-1 g-opacity-1--success"><i
                    class="hs-admin-search g-absolute-centered g-font-size-default"></i></span>
              </a>
              <input id="input-page-template" class="form-control form-control-md g-rounded-4 g-px-14 g-py-10"
                type="text" placeholder="템플릿으로 사용할 파일 경로를 입력하세요." data-bind="value: page.template, enabled:editable">
            </div>
            <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">값이 지정되지 않으면 디폴트 템플릿이 적용됩니다. ex)
              redirect:/xxx/xx, forward:/xxx/xx</small>
          </div>
          <div class="form-group col-md-6">
            <label class="g-mb-10 g-font-weight-400" for="input-page-template">Groovy Script Source<span
                class="text-danger">*</span></label>
            <div class="g-pos-rel">
              <a class="d-flex align-items-center u-link-v5 g-color-gray-light-v6 g-color-sec	ondary--hover g-ml-10 g-ml-15--sm g-ml-30--xl"
                href="#!" data-bind="click:select" data-type="script">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-1 g-opacity-1--success"><i
                    class="hs-admin-search g-absolute-centered g-font-size-default"></i></span>
              </a>
              <input id="input-page-script" class="form-control form-control-md g-rounded-4 g-px-14 g-py-10" type="text"
                placeholder="서버 스크립트 파일 경로를 입력하세요" data-bind="value: page.script, enabled:editable">
            </div>
          </div>

        </div>
      </div>
      <script type="text/x-kendo-template" id="name-column-template">
          <a class="d-flex align-items-center u-link-v5 g-min-height-25 u-link-underline g-color-black g-color-lightblue-v3--hover g-color-lightblue-v3--opened" href="\#!" data-action="edit" data-object-id="#=pageId#">
          <h5 class="g-font-weight-300 g-mb-0">
          #if (secured) { # 
            <svg class="bi bi-lock c-red-500" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
            </svg>
          # } else {# 
            <svg class="bi bi-unlock c-red-500" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M9.655 8H2.333c-.264 0-.398.068-.471.121a.73.73 0 0 0-.224.296 1.626 1.626 0 0 0-.138.59V14c0 .342.076.531.14.635.064.106.151.18.256.237a1.122 1.122 0 0 0 .436.127l.013.001h7.322c.264 0 .398-.068.471-.121a.73.73 0 0 0 .224-.296 1.627 1.627 0 0 0 .138-.59V9c0-.342-.076-.531-.14-.635a.658.658 0 0 0-.255-.237A1.122 1.122 0 0 0 9.655 8zm.012-1H2.333C.5 7 .5 9 .5 9v5c0 2 1.833 2 1.833 2h7.334c1.833 0 1.833-2 1.833-2V9c0-2-1.833-2-1.833-2zM8.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
            </svg>
          #}#
          #= name # #if(pattern!=null) { #,#= pattern ##}#
          </h5> 
          </a>
          <p class="g-font-weight-300 g-color-gray-dark-v6 g-mt-5 g-ml-10 g-mb-0" >#= title #</p>
          <ul class="u-list-inline">
            #if( template != null ){#
            <li class="list-inline-item g-mr-30">#: template #</li>
            #}#
            #if( script != null ){#
            <li class="list-inline-item g-mr-30">#: script #</li>
            #}#  
          </ul> 
        </script>
      <script type="text/x-kendo-template" id="user-column-template">
        <div class="media">
            <div class="d-flex align-self-center">
              <img class="g-width-36 g-height-36 rounded-circle g-mr-15" src="#= studio.services.accounts.getUserAvatarUrl( user.username ) #" >
          </div>
          <div class="media-body align-self-center text-left">#if ( !user.anonymous && user.name != null ) {# #: user.name # #}#</div>
        </div>	
        </script>
      <script type="text/x-kendo-template" id="grid-toolbar-template">
          <div class="layer w-100">
              <div class="peers ai-c jc-sb fxw-nw">
                <div class="peer">
                  <button type="button" class="btn cur-p btn-danger k-grid-add">
                    <svg class="bi bi-file-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z"/>
                      <path fill-rule="evenodd" d="M13.5 1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z"/>
                      <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                    </svg>
                    New Page</button>
                </div>
                <div class="peer">
                </div>
              </div>
          </div>  
          </script>
      <!-- ### $App Screen Footer ### -->
      <%= require('html-loader!./include-footer.html') %>
    </div>
  </div>
</body>

</html>