<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %></title>
  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }

      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }

    button[disabled=disabled] {
      cursor: not-allowed;
      color: #9e9e9e !important;
      border-color: #9e9e9e;
      border-style: dashed;
    }

    .k-grid .u-link-underline>h5,
    .k-grid .u-link-underline>.u-title {
      border-bottom: 1px solid transparent;
      padding-bottom: 1.5px;
    }

    #table-data-grid,
    #database-schema-table-grid,
    #database-schema-table-column-grid,
    #table-data-grid {
      margin: 0;
      padding: 0;
      border-width: 0;
      height: 100%;
      /* DO NOT USE !important for setting the Grid height! */
    }
  </style>
</head>

<body class="app" authenticate-required="true">
  <!-- @TOC -->
  <!-- =================================================== -->
  <!--
      + @Page Loader
      + @App Content
          - #Left Sidebar
              > $Sidebar Header
              > $Sidebar Menu

          - #Main
              > $Topbar
              > $App Screen Content
    -->

  <!-- @Page Loader -->
  <!-- =================================================== -->
  <div id='loader'>
    <div class="spinner"></div>
  </div>

  <script>
    window.addEventListener('load', function load() {
      const loader = document.getElementById('loader');
      setTimeout(function () {
        loader.classList.add('fadeOut');
      }, 300);
    });
  </script>

  <!-- @App Content -->
  <!-- =================================================== -->
  <div>
    <!-- #Left Sidebar ==================== -->
    <div class="sidebar">
      <div class="sidebar-inner">
        <!-- ### $Sidebar Header ### -->
        <div class="sidebar-logo">
          <div class="peers ai-c fxw-nw">
            <div class="peer peer-greed">
              <a class="sidebar-link td-n" href="index.html">
                <div class="peers ai-c fxw-nw">
                  <div class="peer">
                    <div class="logo">
                      <img src="assets/static/images/logo.png" alt="">
                    </div>
                  </div>
                  <div class="peer peer-greed">
                    <h5 class="lh-1 mB-0 logo-text">Adminator</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="peer">
              <div class="mobile-toggle sidebar-toggle">
                <a href="" class="td-n">
                  <i class="ti-arrow-circle-left"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- ### $Sidebar Menu ### -->
        <ul class="sidebar-menu scrollable pos-r">
          <li class="nav-item  mT-30">
            <a class="sidebar-link" href="index.html">
              <span class="icon-holder">
                <i class="c-blue-500 ti-home"></i>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item dropdown open">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="c-orange-500 ti-folder"></i>
              </span>
              <span class="title">Settings</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class='sidebar-link' href="settings-properties.html">Properties</a>
              </li>
              <li>
                <a class='sidebar-link' href="settings-locale.html">Locale</a>
              </li>
              <li>
                <a class='sidebar-link actived' href="settings-datasource.html">DataSource</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="c-pink-500 ti-folder"></i>
              </span>
              <span class="title">Security</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class='sidebar-link' href="security-perms.html">Roles & Permissions</a>
              </li>
              <li>
                <a class='sidebar-link' href="security-users.html">Users</a>
              </li>
              <li>
                <a class='sidebar-link' href="security-audit.html">Audit</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="c-green-500 ti-folder"></i>
              </span>
              <span class="title">Services</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class='sidebar-link' href="services-email.html">Email</a>
              </li>
              <li>
                <a class='sidebar-link' href="services-sequencer.html">Sequencer</a>
              </li>
              <li>
                <a class='sidebar-link' href="services-viewcount.html">View Count</a>
              </li>
              <li>
                <a class='sidebar-link' href="services-menu.html">Menu</a>
              </li> 
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="c-purple-500 ti-folder"></i>
              </span>
              <span class="title">Resources</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class='sidebar-link' href="resources-pages.html">Pages</a>
              </li>
              <li>
                <a class='sidebar-link' href="resources-apis.html">Apis</a>
              </li>

              <li class="nav-item dropdown">
                <a href="javascript:void(0);">
                  <span>Sources</span>
                  <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="resources-decorators.html">Decorators</a>
                  </li>
                  <li>
                    <a href="resources-templates.html">Templates</a>
                  </li>
                  <li>
                    <a href="resources-groovys.html">Gloovy</a>
                  </li>
                  <li>
                    <a href="resources-sqls.html">Sql</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class='sidebar-link' href="resources-files.html">Files</a>
              </li>
              <li>
                <a class='sidebar-link' href="resources-images.html">Images</a>
              </li>
              <li>
                <a class='sidebar-link' href="resources-albums.html">Albums</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- #Main ============================ -->
    <div class="page-container">
      <!-- ### $Topbar ### -->
      <%= require('html-loader!./include-topbar.html') %>

      <!-- ### $App Screen Content ### -->
      <script>
        function setup() {

          $(document).ajaxSend(function (event, jqXHR, options) {
            jqXHR.setRequestHeader('Authorization', studio.services.accounts.authHeader()['Authorization']);
          });

          var $window = $(window).on('resize', function () {
            var height = $(document).height() - ($('.header-container').height() + 61)
            $('#splitter').height(height);
          }).trigger('resize'); //on page load 

          var renderTo = $("#mainContent");
          var observable = kendo.observable({
            databaseInitialized: false,
            datasourceEnabled: false,
            configurable: false,
            editable: false,
            deployDataSource: deploy,
            refersh: function () {
              refreshDataSourceConfigGrid();
            },
            settings: function () {
              var $this = this;
              $this.set('configurable', !$this.get('configurable'));
              createSettingsWindow($this);
            },
          });
          observable.bind("change", function (e) {
            if (e.field === 'datasourceEnabled' && observable.get('editable')) {
              enableAutoDeploy(observable);
            }
          });
          getAndSetStatus(observable);
          createDataSourceConfigGrid($("#grid"));
          kendo.bind(renderTo, observable);
        }

        function getAndSetStatus(observable) {
          const headers = {
            Accept: "application/json",
            "Content-Type": "application/json"
          };
          Object.assign(headers, studio.services.accounts.authHeader());
          axios({
            url: studio.services.getApiUrl('/data/secure/mgmt/status/config.json'),
            method: "get",
            data: JSON.stringify({}),
            headers: headers
          })
            .then(response => {
              const data = response.data;
              observable.set('databaseInitialized', data.databaseInitialized);
              observable.set('datasourceEnabled', data.datasourceEnabled);
              observable.set('editable', true);
            })
            .then(function () {
              // always executed
            });
        }

        function enableAutoDeploy(observable) {
          const headers = {
            Accept: "application/json",
            "Content-Type": "application/json"
          };
          Object.assign(headers, studio.services.accounts.authHeader());
          var template = kendo.template('자동배포 설정(#: datasourceEnabled #)을 변경합니다. 이동작은 최소할 수 없습니다.');
          var dialog = $("#enable-dialog").kendoDialog({
            title: 'Deploy',
            closable: true,
            modal: true,
            buttonLayout: "normal",
            content: template(observable),
            actions: [
              {
                text: '확인',
                action: function (e) {
                  kendo.ui.progress($('.k-dialog'), true);
                  axios({
                    url: studio.services.getApiUrl('/data/secure/mgmt/setup/property/update.json'),
                    method: "post",
                    data: JSON.stringify({
                      name: 'services.setup.datasources.enabled', value: observable.datasourceEnabled
                    }),
                    headers: headers
                  })
                    .then(response => {
                      const data = response.data;
                      if (data.success) {
                        studio.ui.notify(null, "설정이 변경 되었습니다.", "success");
                      } else {
                        studio.ui.notify(null, data.error.message, "error");
                      }
                    })
                    .then(function () {
                      // always executed
                      kendo.ui.progress($('.k-dialog'), false);
                      dialog.close();
                    });
                  return false;
                },
                primary: true
              },
              {
                text: '취소',
                action: function (e) {
                  dialog.close();
                  observable.set('editable', false);
                  observable.set('datasourceEnabled', !observable.autodeploy);
                  observable.set('editable', true);
                }
              }
            ]
          }).data("kendoDialog");
          dialog.open();
        }

        function deploy() {
          const headers = {
            Accept: "application/json",
            "Content-Type": "application/json"
          };
          Object.assign(headers, studio.services.accounts.authHeader());
          var template = kendo.template('아직 등록되지 않는 데이터베이스 연결을 컨테이너에 빈으로 등록합니다. 이동작은 최소할 수 없습니다.');
          var dialog = $("#deploy-dialog").kendoDialog({
            title: 'Deploy',
            closable: true,
            modal: true,
            buttonLayout: "normal",
            content: template({}),
            actions: [
              {
                text: 'Ok',
                action: function (e) {
                  kendo.ui.progress($('.k-dialog'), true);
                  axios({
                    url: studio.services.getApiUrl('/data/secure/mgmt/setup/datasource/deploy.json'),
                    method: "get",
                    data: JSON.stringify({}),
                    headers: headers
                  })
                    .then(response => {
                      const data = response.data;
                      if (data.success) {
                        studio.ui.notify(null, "데이터소스 배포가 완료되었습니다.", "success");
                      } else {
                        studio.ui.notify(null, data.error.message, "error");
                      }
                    }).catch(function (error) {
                      studio.ui.handleAxiosError(error);
                    })
                    .then(function () {
                      kendo.ui.progress($('.k-dialog'), false);
                      dialog.close();
                    });
                  return false;
                },
                primary: true
              },
              { text: 'Cancle' }
            ]
          }).data("kendoDialog");
          dialog.open();
        }

        function createSettingsWindow(observable) {
          var renderTo = $('#settings-window');
          if (!renderTo.data("kendoWindow")) {
            renderTo.kendoWindow({
              width: "500px",
              title: "Settings",
              visible: false,
              modal: true,
              actions: ["Close"], // 
              open: function () { },
              close: function () { }
            });
            kendo.bind(renderTo, observable);
          }
          renderTo.data("kendoWindow").center().open();
        }

        function refreshDataSourceConfigGrid() {
          if ($("#grid").data('kendoGrid') != null) {
            $("#grid").data('kendoGrid').dataSource.read();
          }
        }

        function createDataSourceConfigGrid(renderTo) {
          var grid = renderTo.kendoGrid({
            dataSource: {
              transport: {
                read: { url: studio.services.getApiUrl('/data/secure/mgmt/datasource/config/list.json'), type: 'post', contentType: "application/json; charset=utf-8" },
                parameterMap: function (options, operation) {
                  if (operation !== "read" && options.models) {
                    return kendo.stringify(options.models);
                  }
                  return kendo.stringify(options);
                }
              },
              error: studio.ui.handleAjaxError,
              batch: true,
              schema: {
                model: {
                  id: 'name'
                }
              }
            },
            height: 500,
            toolbar: [{ name: "create", text: "새로운 프로퍼티 만들기", template: kendo.template($('#grid-toolbar-template').html()) }],
            sortable: true,
            filterable: false,
            pageable: false,
            selectable: "row",
            columns: [
              { field: "name", title: "Name", width: 200, validation: { required: true }, template: $('#name-column-template').html() },
              { field: "driverClassName", title: "Driver Class", width: 300, validation: { required: true } },
              { field: "url", title: "URL", validation: { required: true } },
              { field: "beanName", title: "Bean Name", width: 200, validation: { required: true } },
              { field: "active", title: "Active", width: 100, validation: { required: true } },
            ],
            change: function (e) {
              var selectedRows = this.select();
              var dataItem = this.dataItem(selectedRows[0]);
              if (dataItem.active)
                createDatabaseSchemaTableGrid(dataItem);
              else
                studio.ui.notify(null, "The selected connection is not active.", "warning");
            }
          }).data('kendoGrid');
          return grid;
        }


        function createDatabaseSchemaTableGrid(options) {
          var renderTo = $("#database-schema-table-grid");
          if (renderTo.data('kendoGrid') != null && renderTo.data('name') != options.name) {
            renderTo.data('kendoGrid').destroy();
          }
          if (renderTo.data('kendoGrid') == null) {
            var template = kendo.template(studio.services.getApiUrl('/data/secure/mgmt/datasource/#= name #/schema/table/list.json'));
            var target_url = template(options);
            var grid = renderTo.kendoGrid({
              dataSource: {
                transport: {
                  read: { url: target_url, type: 'post', contentType: "application/json; charset=utf-8" }
                },
                error: studio.ui.handleAjaxError,
                serverFiltering: false,
                schema: {
                  total: "totalCount",
                  data: "items",
                  model: {
                    id: "name",
                  }
                }
              },
              toolbar: kendo.template($('#database-schema-table-grid-template').html()),
              selectable: "row",
              sortable: true,
              filterable: true,
              pageable: false,
              noRecords: {
                template: "<p class='g-pa-20' >데이터가 로드되지 않았습니다. 잠시 후에 다시 데이터 새로고침 버튼을 클릭하여 주세요.</p>"
              },
              columns: [
                { field: "catalog", title: "CATALOG", width: 100 },
                { field: "schema", title: "SCHEMA", width: 100 },
                { field: "name", title: "TABLE", width: 300 }
              ],
              change: function (e) {
                var selectedRows = this.select();
                var dataItem = this.dataItem(selectedRows[0]);
                createDatabaseSchemaTableColumnGrid(dataItem);
              }
            }).data("kendoGrid");

            renderTo.find(".k-grid-toolbar").on("click", ".k-grid-refresh", function (e) {
              createDatabaseSchemaTableColumnGrid([]);
              renderTo.data("kendoGrid").dataSource.read();
            });

            createDatabaseSchemaTableColumnGrid({ columns: [] });
            renderTo.data('name', options.name);
          }
          renderTo.data("kendoGrid").dataSource.read();
        }

        function createDatabaseSchemaTableColumnGrid(options) {
          var renderTo = $("#database-schema-table-column-grid");
          if (renderTo.data('kendoGrid') == null) {
            renderTo.kendoGrid({
              dataSource: {
                data: [],
                schema: {
                  model: {
                    id: "name",
                    fields: {
                      name: { type: "string" },
                      type: { type: "number" }
                    }
                  }
                }
              },
              toolbar: kendo.template($('#database-schema-table-column-grid-template').html()),
              sortable: true,
              filterable: true,
              pageable: false,
              noRecords: {
                template: "<p class='g-pa-20' >데이터가 없습니다.</p>"
              },
              columns: [
                { field: "name", title: "COLUMN" },
                { field: "type", title: "TYPE", width: 100 },
                { field: "typeName", title: "TYPE NAME", width: 150 }
              ]
            });
            renderTo.find(".k-grid-toolbar").on("click", ".view-data", function (e) {
              createTableDataWindow();
            });
          }
          renderTo.data("kendoGrid").dataSource.data(options.columns);
        }

        function getSelectedTable() {
          var renderTo = $('#database-schema-table-grid');
          var grid = renderTo.data('kendoGrid');
          var selectedRows = grid.select();
          var dataItem = grid.dataItem(selectedRows[0]);
          if (dataItem != null)
            dataItem.dataSource = renderTo.data('name');
          return dataItem;
        }

        function createTableDataWindow() {
          var renderTo = $('#table-data-window');
          var renderTo2 = $('#table-data-grid');
          if (!renderTo.data('kendoWindow')) {
            var observable = kendo.observable({
              dataSource: null,
              catalog: null,
              schema: null,
              table: null,
              columns: [],
              refresh: function () {
                renderTo2.data("kendoGrid").dataSource.read();
              },
              createGrid: function () {
                var $this = this;
                if (renderTo2.data('kendoGrid') != null) {
                  renderTo2.data('kendoGrid').destroy();
                  renderTo2.html('');
                }
                var template = kendo.template(studio.services.getApiUrl('/data/secure/mgmt/datasource/#= dataSource #/schema/table/#= table#/list.json'));
                var target_url = template($this);
                var _columns = [];
                $.each($this.get('columns'), function (index, data) {
                  _columns.push({
                    field: data.name,
                    title: data.name,
                    width: 100
                  });
                });
                renderTo2.kendoGrid({
                  dataSource: {
                    transport: {
                      read: { url: target_url, type: 'post', contentType: "application/json; charset=utf-8" },
                      parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                          return JSON.stringify(options.models);
                        }
                        return JSON.stringify(options);
                      }
                    },
                    error: studio.ui.handleAjaxError,
                    pageSize: 50,
                    serverFiltering: false,
                    serverSorting: false,
                    serverPaging: true,
                    schema: {
                      total: "totalCount",
                      data: "items"
                    }
                  },
                  toolbar: kendo.template($('#table-data-grid-toolbar-template').html()),
                  scrollable: false,
                  sortable: true,
                  filterable: false,
                  pageable: true,
                  columns: _columns,
                  noRecords: {
                    template: "<p class='g-pa-50 g-ma-0' >데이터가 없습니다.</p>"
                  },
                  change: function (e) {
                  }
                });
              },
              setSource: function (data) {
                var $this = this;
                var oldTable = $this.get('table');
                $this.set('dataSource', data.dataSource);
                $this.set('catalog', data.catalog);
                $this.set('schema', data.schema);
                $this.set('table', data.name);
                $this.set('columns', data.columns);
                if ($this.get('table') != oldTable) {
                  $this.createGrid();
                }
              }
            });
            var window = renderTo.kendoWindow({
              width: "900px",
              minWidth: 600,
              title: "Data",
              visible: false,
              modal: true,
              actions: ["Close"], // 
              open: function () {
              },
              close: function () {
              }
            }).data('kendoWindow');
            kendo.bind(renderTo, observable);
            renderTo.data('model', observable);
          }
          renderTo.data('model').setSource(getSelectedTable());
          renderTo.data('kendoWindow').center().maximize().open();
        }

      </script>
      <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
          <div class="full-container">
            <div id="splitter" data-role="splitter" data-panes="[
               { collapsible: true, min: '300px', max:'500px', size:'30%'},
               { collapsible: false,  size:'70%' }
            ]" data-orientation="vertical">
              <div id="top-pane">
                <div class="pane-content">
                  <div id="grid" style="border:0;"></div>
                </div>
              </div>
              <div id="bottom-pane">
                <div data-role="splitter" data-panes="[
                       { collapsible: true , min:'300px'},
                       { collapsible: false }
                    ]" style="height: 100%; width: 100%;">
                  <div id="left-pane">
                    <div class="pane-content">
                      <div id="database-schema-table-grid" data-name="unknown"
                        class="k-gird-auto g-brd-top-0 g-brd-left-0 g-brd-bottom-0 g-brd-right-0"></div>
                    </div>
                  </div>
                  <div id="right-pane">
                    <div class="pane-content">
                      <div id="database-schema-table-column-grid"
                        class="k-gird-auto g-brd-top-0 g-brd-left-0 g-brd-bottom-0 g-brd-right-0"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <span id="enable-dialog"></span>
      <span id="deploy-dialog"></span>
      <div id="settings-window" class="g-pa-0 g-height-600" style="display:none;">
        <div class="g-pa-15">
          <div class="row">
            <div class="col-md">
              <label class="d-flex align-items-center justify-content-between g-mb-0">
                <span class="g-pr-20 g-font-weight-500">컨테이너에 자동 등록</span>
                <div class="u-check">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" value="true"
                    data-bind="checked:datasourceEnabled" type="checkbox">
                  <div class="u-check-icon-radio-v8"><i class="fa" data-check-icon=""></i></div>
                </div>
              </label>
              <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5 g-hidden-md-down">
                서버가 시작될 때 설정된 데이터소스를 컨테이너에 빈으로 등록합니다.
              </small>
            </div>
          </div>
          <div class="row g-mt-15">
            <div class="col-md">
              <label class="g-mb-10 g-font-weight-500" for="input-defaultEncoding">데이터베이스 초기화</label>
              <p class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">
                데이터베이스를 초기화합니다. 초기화는 애플리케이션이 동작하기위하여 필요한 데이블 및 기초 데이터를 생성하게 됩니다.
              </p>
              <button data-bind="disabled:databaseInitialized"
                class="btn btn-xl btn-outline-danger g-font-weight-600 g-letter-spacing-0_5 text-uppercase text-left rounded-0 g-mr-10 g-mb-15">
                <span class="pull-left">데이터베이스 초기화하기
                  <span class="d-block g-font-size-11">데이블 및 기초데이터를 생성합니다.</span>
                </span>
                <i class="fa fa-database float-right g-font-size-32 g-ml-15"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="table-data-window" class="g-pa-0 g-height-600 container-fluid"
        style="display:none; background : #fafafa;">
        <div id="table-data-grid"></div>
      </div>
      <script type="text/x-kendo-template" id="table-data-grid-toolbar-template">
        <div class="layer w-100">
            <div class="peers ai-c jc-sb fxw-nw">
              <div class="peer">
              
              </div>
              <div class="peer">
                <a class="btn btn-link u-link-v5 g-mr-10 g-font-size-15 g-color-secondary--hover k-grid-refresh" data-bind="click:refresh">
                  <svg class="bi bi-arrow-repeat" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                    <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                  </svg>
                  <spin class="g-ml-5 g-font-size-12 g-font-weight-300">
                    Refresh</spin></a>

              </div>
            </div>
        </div>  
        </script>

      <script type="text/x-kendo-template" id="database-schema-table-grid-template">
      <div class="layer w-100">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
            
            </div>
            <div class="peer">
              <a class="btn btn-link u-link-v5 g-mr-10 g-font-size-15 g-color-secondary--hover k-grid-refresh">
                <svg class="bi bi-arrow-repeat" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                  <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                </svg>
                <spin class="g-ml-5 g-font-size-12 g-font-weight-300">
                  Refresh</spin></a>
            </div>
          </div>
      </div>  
      </script>
      <script type="text/x-kendo-template" id="database-schema-table-column-grid-template">
        <div class="layer w-100">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
            
            </div>
            <div class="peer">
              <button type="button" class="btn cur-p btn-outline-primary view-data" >
                <svg class="bi bi-table" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path fill-rule="evenodd" d="M15 4H1V3h14v1z"/>
                  <path fill-rule="evenodd" d="M5 15.5v-14h1v14H5zm5 0v-14h1v14h-1z"/>
                  <path fill-rule="evenodd" d="M15 8H1V7h14v1zm0 4H1v-1h14v1z"/>
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2H0V2z"/>
                </svg>  
                View Data</button>
            </div>
          </div>
      </div> 
        </script>

      <script type="text/x-kendo-template" id="grid-toolbar-template">
        <div class="layer w-100">
            <div class="peers ai-c jc-sb fxw-nw">
              <div class="peer">
                <button type="button" class="btn cur-p btn-danger k-grid-add" data-bind="click:addDataSource">
                  <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                  </svg>
                  New DataSource</button>
              </div>
              <div class="peer">
                <button class="btn cur-p btn-outline-dark" data-bind="click:deployDataSource" >Deploy</button>   
                <a class="btn btn-link u-link-v5 g-mr-10 g-font-size-15 g-color-secondary--hover" data-bind="click:settings">
                  <svg class="bi bi-gear-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"></path>
                  </svg>
                  <spin class="g-ml-5 g-font-size-12 g-font-weight-300">
                  Setting</spin></a> 
                <a class="btn btn-link u-link-v5 g-mr-10 g-font-size-15 g-color-secondary--hover k-grid-refresh" data-bind="click:refresh">
                <svg class="bi bi-arrow-repeat" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                  <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                </svg>
                <spin class="g-ml-5 g-font-size-12 g-font-weight-300">
                  Refresh</spin></a>
              </div>
            </div>
        </div>  
      </script>
      <script type="text/x-kendo-template" id="name-column-template">
      <a class="d-flex align-items-center u-link-v5 u-link-underline g-color-black g-color-lightblue-v3--hover g-color-lightblue-v3--opened" href="\#!" data-action="view" data-name="#= name #" data-bean="#= beanName #">
          <h5 class="g-font-weight-100 g-mb-0 g-font-size-14"><i class="fa fa-database"></i> #= name #</h5> 
      </a>
      </script>

      <!-- ### $App Screen Footer ### -->
      <%= require('html-loader!./include-footer.html') %>
    </div>
  </div>
</body>

</html>